<div class="band">
  <div class="" *ngFor="let recipe of recipes">
    <div class="ui card">
      <div class="image">
        <img src={{recipe.image}}>
      </div>
      <div class="content">
        <a class="header">{{recipe.title}}</a>
        <div class="description">
            {{recipe.description}}
        </div>
      </div>
      
    </div>
      
  </div>
</div>
