<div class="ui relaxed divided list">
  <div class="item">
    <label>{{ingredient}}</label>
    <button class="ui negative basic button destroy" (click)="removeIngredient(ingredient)">Eliminar</button>
  </div>
  
</div>
