<div class="view">
  <label>{{production.title}}</label>
  <section class="main" *ngFor="let step of production.steps; let myIndex = index">
    <label>{{myIndex + 1}} - {{step}}</label>
    <button class="ui negative basic button destroy" (click)="removeStep(step)">Eliminar</button>
  </section>
  
</div>
