<!--<section class="main" *ngIf="recipes.length > 0">
  <ul class="recipe-list">
    <li *ngFor="let recipe of ( recipes | slice:recipes.length -1 );let i = index" >
      <app-ingredient-list-item
        [recipe]="recipe"
        (remove)="onRemoveRecipe($event)"
      ></app-ingredient-list-item>
    </li>
  </ul>

</section>
-->
<section class="main" *ngIf="ingredients.length > 0">
  <div class="ui list">
    <div *ngFor="let ingredient of ingredients">
      <app-ingredient-list-item
        [ingredient]="ingredient"
        (remove)="onRemoveIngredient($event)">
      </app-ingredient-list-item>
    </div>
  </div>
</section>