

<section class="main" *ngIf="productions.length > 0">
  <div class="ui list">
    <div *ngFor="let production of productions">
        <app-production-list-item
          [production]="production"
          [productionTitle]="productionTitle"
          (remove)="onRemoveStep($event)">
        </app-production-list-item>
    </div>

  </div>

  <!--<ul class="production-list">
      <li *ngFor="let production of productions">
        <app-production-list-item
          [production]="production"
          [productionTitle]="productionTitle"
          (remove)="onRemoveStep($event)">
        </app-production-list-item>
      </li>
    </ul>-->
</section>