<!--

<router-outlet></router-outlet>
-->
<!--
<div class="ui container">
  <form class="ui large form segment">
    <h3 class="ui header">Recipe</h3>
  
    <div class="field">
      <label for="title">Title:</label>
      <input name="title" id="title" #newtitle>  
    </div>
    <div class="ui form">
      <div class="field">
        <label>Description</label>
        <textarea></textarea>
      </div>
    </div>
    <div>
      <label>File Upload</label>
      <input type="file">
    </div>
    <div>
        <label>Ingredients</label>
        <div class="two fields">
          <div class="field">
            <input type="text">
          </div>
          <div class="button">
            <button (click)="addArticle(newtitle, newlink)"
                class="ui primary button right floated button">
              +
            </button>
          </div>
        </div>
    </div>
    <div>
        <label>Production</label>
        <div class="two fields">
          <div class="field">
            <input type="text">
          </div>
          <div class="button">
            <button (click)="addArticle(newtitle, newlink)"
                class="ui primary button right floated button">
              Add step
            </button>
          </div>
        </div>
    </div>
  
    <button (click)="addArticle(newtitle, newlink)"
            class="ui primary button right floated button">
      Create recipe
    </button>
  
  </form>
  
</div>
-->

<section class="recipeapp">
    <app-recipe-list-header (add)="onAddRecipe($event)" [recipes]="recipes"></app-recipe-list-header>
    <!-- <app-recipe-list
      [recipes]="recipes"
      (remove)="onRemoveTodo($event)"
    ></app-recipe-list>
    <app-recipe-list-footer
      [recipes]="recipes"
    ></app-recipe-list-footer> -->
  </section>
