<header class="header">
    <!-- <h1>Todos</h1>
    <input class="new-todo" placeholder="What needs to be done?" autofocus="" [(ngModel)]="newTodo.title"
           (keyup.enter)="addTodo()"> -->

  

            
</header>

<div class="ui container container-space">
  <form class="ui large form segment">
    <h3 class="ui header">Recipe</h3>
    <div class="field">
      <label for="title">Title:</label>
      <input name="title" [(ngModel)]="newRecipe.title" >
    </div>
    <div class="ui form">
      <div class="field">
        <label>Description</label>
        <textarea name="description" [(ngModel)]="newRecipe.description" (keyup.enter)="addRecipe()"></textarea>
      </div>
    </div>
    <div>
      <label>File Upload</label>
      <input type="file" (change)="onFileSelected($event)" id="image">
    </div>
    
    <div class="image-final" *ngIf="imageRecipe">
        <img src={{imageRecipe}} width="300" height="200">
    </div>
    
    <!--<button type="button" (click)="onUpload()">Upload</button>-->
    <div>
        <label>Ingredients</label>
        <div class="two fields">
          <div class="field">
            <input type="text" (input)="ingredient=$event.target.value">
          </div>
          <div class="button">
            <button 
                class="ui primary button right floated button" (click)="addIngredient()">
              +
            </button>
          </div>
        </div>
    </div>
    <!--<div *ngIf="recipes">
      <app-ingredient-list
        [recipes]="recipes"
        (remove)="onRemoveRecipe($event)"        
      >

      </app-ingredient-list>
    </div>-->
    <div>
      <app-ingredient-list 
        [ingredients]="ingredients"
        (remove)="onRemoveIngredient($event)"
      >      
      </app-ingredient-list>
    </div>    
    <div>
        <label>Productions</label>
        <div class="two fields">
          <div class="field">
            <input type="text" (input)="productionTitle=$event.target.value" placeholder="title">
          </div>
          <div class="button">
            <button [disabled]="buttonDisabled" class="ui primary button right floated button"  (click)="addProductionTitle()">
              +
            </button>
          </div>
        </div>
    </div>
    
    
    <!--<div class="two fields">
      <div class="field">
        <label>production</label>
        <input type="text" (input)="productionTitle=$event.target.value" placeholder="title">
      </div>-->
      <!--<div class="field">
        <label>steps</label>
        <select class="ui fluid dropdown">
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">4</option>
          <option value="5">5</option>
          <option value="6">6</option>
          <option value="7">7</option>
          <option value="8">8</option>
          <option value="9">9</option>
          <option value="10">10</option>
        </select>
      </div>-->
      <!--<div class="button-production">
        <button 
            class="ui primary button right floated button" (click)="addProductionTitle()">
          +
        </button>
      </div>
    </div>-->
   
    
    <section class="production" *ngIf="productions.length > 0">
      <label>step</label>
      <div class="two fields">  
        <div class="field">
          <input type="text" (input)="productionStep=$event.target.value" placeholder="step">
        </div>
        <div>
          <button 
            class="ui primary button right floated button" (click)="addProductionStep()">
            +
          </button>
        </div>  
      </div>
    </section>
    <div *ngIf="numberOfSteps > 0">
      <app-production-list 
        [productions]="productions"
        [productionTitle]="productionTitle"
        (remove)="onRemoveStep($event)">      
      </app-production-list>
    </div>

    <div *ngIf="productions.length > 0">
        <button class="ui primary button button-create-production" type="button" (click)="createProduction()">Create production</button>
    </div>

    <div *ngIf="finalProductions.length > 0">

      <div class="ui relaxed divided list">
        <div class="item" *ngFor="let production of finalProductions">
            <div>
              <label class="header">{{production.title}}</label>
            </div>
            <div class="description" *ngFor="let step of production.steps; let myIndex = index">
              <label>{{myIndex + 1}} - {{step}}</label>
            </div>
        </div>
      </div>
    </div>
    <div>
        <button class="ui primary button" type="button" (click)="onUpload()">Create recipe</button>
    </div>

    






    

    <!--
    <div>
        <label>Production</label>
        <div class="two fields">
          <div class="field">
            <input type="text">
          </div>
          <div class="button">
            <button (click)="addArticle(newtitle, newlink)"
                class="ui primary button right floated button">
              Add step
            </button>
          </div>
        </div>
    </div> -->
  
    <!--<button (click)="addRecipe(newtitle, newlink)"
            class="ui primary button right floated button">
      Create recipe
    </button>
  -->
  
  </form>
  
</div>
<app-recipe-list [recipes]="recipes">
</app-recipe-list>
  
